
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Oswald:wght@400;700&display=swap');
/* CUSTOM VARIABLES */
:root{--white: 255, 255, 255;}

body{font: 15px 'Oswald';}
p{display: block;}

/* NAV & CAROUSEL ELEMENTS */
.navbar{
  position: absolute;
  background-color: transparent;
  width: 100%;
}
.nav{right: 0;}
.nav-link {
  color: rgb(var(--white));
  font-family: 'Lato';
  text-transform: uppercase;
}
.navbar-brand{font: 30px 'Oswald';}
.carousel{position: relative;}
.carousel-indicators.slide-indicators div{
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 10%;
  z-index: 1;
}
.carousel-indicators.slide-indicators button{
  width: 5px;
  height: 5px;
  background-color: transparent;
  border: 2px solid rgb(var(--white));
  border-radius: 50%;
}
.carousel-indicators.slide-indicators button.active{
  background-color: rgb(var(--white));
}
.carousel-caption{
  position: absolute;
  text-align: center;
  width: 100%;
  bottom:0;
  top:60%;
  left:20%;
}
.img-responsive {
  width: 100%;
  height: auto;
}
.btn{
  font-weight: bold;
  text-transform: uppercase;
  border-color: rgb(var(--white));
  padding: 1em 3em;
}
.btn-primary{
   background-color: rgb(var(--white));
   color: rgba(85,41,130,255);
   margin-right: 2em;
}
.btn-outline-primary{
  color: rgb(174, 232, 195);
  border-color: rgb(var(--white));
}
/* GRID & PRODUCT ELEMENTS*/
.container{margin-top: 4em;}
.input-group{
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-bottom: 1em;
}
.form-control{
border: none;
padding: 1em;
font: 15px 'Lato';
}
.card-img img{width: inherit;}
#card-img5{margin: 26% 0%;}
.btn-outline-secondary{
border-left: none;
height: inherit;
padding: 0;
width: 4em;
}
.col-md-6{
padding: 0;
border: none;
}
.block-row{margin: 6em 0em;}
.block-card{
  border:none;
  border-radius: 0px;
}
.card-img-overlay{margin-bottom: 2em;}
.card-title, .card-link{
  font-size: 33px;
  color: rgb(var(--white));
  text-transform: uppercase;
}
.card-bottom-row{
  margin-top: 1em;
}
.product-title{
  font-size: 15px;
  color: rgb(68, 67, 67);
}
.card-link{
  font-size: 15px;
  text-decoration: underline;
}
.card-text{
  font-family: 'Lato';
  color: rgb(124, 139, 149);
}
/*MEDIA QUERY - MOBILE / SM*/
@media (max-width: 576px){
  .carousel-caption{
    top:55%;
    left:20%;
  }
  .btn{
  font-size: 50%;
  padding: 1em;
  }
  .btn-primary{
    margin-right: 0;
  }
  .navbar-brand{
    font-size: 15px;
  }
  .col-md-6{
    padding: 1em;
  }
  .card-bottom-row{
    margin-top: 0;
  }
}
/*MEDIA QUERY - TABLET / MD*/
@media (max-width: 768px){
  .btn{
  font-size: 75%;
  }
  .col{
    width: 50%;
  }
  .card-bottom-row{
    margin-top: 0em;
  }
  .card-img-overlay{
    margin-bottom: 0em;
    padding: 2em;
  }
  .card-title{
    font-size: 1.5em;
  }
  #card-img1{
    margin-bottom: 15%;
  }
}
