

.carousel{
  position: relative;
}
.carousel-indicators.slide-indicators div{
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 10%;
  z-index: 1;
}
.carousel-indicators.slide-indicators button{
  width: 5px;
  height: 5px;
  background-color: transparent;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
}
.carousel-indicators.slide-indicators button.active{
  background-color: rgb(255, 255, 255);
}

.navbar{
  position: absolute;
  background-color: transparent;
  width: 100%;
}
.nav{
  right: 0;
}
.nav-link, .navbar-brand{
  color: rgb(255, 255, 255);
}

.carousel-item{
position: relative;
}
.img-responsive {
  width: 100%;
  height: auto;
}
.img-overlay {
  position: absolute;
  top: 25%;
  bottom: 0;
  left: 0;
  right: 45%;
  text-align: center;
}
.img-overlay:before {
  content: ' ';
  display: block;
  height: 50%;
}
.btn-primary{
  margin-right: 2em;
}
.btn{
  font: bold 15px 'Oswald';
  text-transform: uppercase;
}
.btn-outline-primary{
  color: rgb(174, 232, 195);
  border-color: rgb(255,255,255);
}


@media screen and (max-width: 575px) {
  .img-overlay{
    right: 15%;
  }
  .btn{
      margin-right: 0;
      background-color: #fff;
      color: #000;
  }
}
@media screen and (max-width: 767px){
  .img-overlay{
    right: 30%;
  }
  .btn-primary{
      margin-right: 1em;
  }
}
/*
.Buy_Now {

  line-height: 9.267;
  text-align: left;
  position: absolute;
  left: 427.844px;
  top: 593.498px;
  z-index: 9;
}
.Learn_More {
  color: rgb(174, 232, 195);
  line-height: 9.267;
  text-align: left;
  position: absolute;
  left: 617.844px;
  top: 592.498px;
  z-index: 13;
}

.Shape_1 {
  background-color: rgb(255, 255, 255);
  opacity: 0.6;
  position: absolute;
  left: 928px;
  top: 922px;
  width: 26px;
  height: 1px;
  z-index: 24;
}


._MEN__________WOMEN______ {
  font-size: 15px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 2.467;
  text-align: left;
  position: absolute;
  left: 1676.785px;
  top: 64.498px;
  z-index: 31;
}
._Lorem_ipsum_dolor_sit_amet__consectetur_adipis {
  font-size: 15px;
  font-family: "Lato";
  color: rgb(124, 139, 149);
  line-height: 1.667;
  position: absolute;
  left: 397.516px;
  top: 2567.627px;
  width: 284px;
  height: 64px;
  z-index: 97;
}

*/
